@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed:wght@300&display=swap');

/*====================
        CAROUSEL
======================*/
h3.text-left {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 9em !important;
  text-align: center !important;
}

p.text-left {
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 575px) {
  h3.text-left {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 4.5em !important;
    text-align: center !important;
  }

  p.text-left {
    font-family: 'Roboto Condensed', sans-serif;
  }
}
